h1{
	color: #690000;
	font-size:425%;
	text-align: center;
}
h2{
	text-align: center;
	font-size:200%;
}
h1, h2{
}
#main{ 
	width: 45%;
	float: left;
}
#secondary{
	position: relative;
	top:10%;
	clear: both;
}
#vid{
	margin: 0px auto;
	position: relative;
	left: 40%;
}
article{
	height:225%;
}
aside{
	position:relative;
	top:10%;
	float: right;
}
p{
	font-size: 125%;
}
body{
	background-color:#AAAAAA;
}
.center{
	text-align:center;
}
nav{
	background-color:#00AAEE;
}
.centermedia{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#popup{
	display:none;
	position:fixed;
	z-index:20;
	top:10%;
	background-color: #AADDAAAA;
	margin:50px;
}
#x{
	position:relative;
	top:-5%;
	left:0%;
	margin:10px;
}
#x:hover{
	cursor: pointer;
}
#text{
	margin:25px;
	top:9%;
}
#popupimage{
	display: none;
}
